<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monty Hall Paradox</title>
</head>
<body>
<h2>Парадокс Монти Холла</h2>
<div>
    <p>Представьте, что вы стали участником игры, в которой вам нужно выбрать одну из трёх дверей.</p>
    <p>За одной из дверей находится автомобиль, за двумя другими дверями — козы. <br>
        Вы выбираете одну из дверей, например, номер 1, после этого ведущий, который знает, <br>
        где находится автомобиль, а где — козы, открывает одну из оставшихся дверей, например, <br>
        номер 3, за которой находится коза.</p>
    <p>После этого он спрашивает вас — не желаете ли вы изменить свой выбор и выбрать дверь номер 2?</p>
    <p>Увеличатся ли ваши шансы выиграть автомобиль, если вы примете предложение ведущего и измените свой выбор?</p>
</div>
<div>
    <h3>Задайте необходимые данные для расчета</h3>
</div>
<form method="post" action="#" th:action="@{/}" th:object="${gameParameter}">
    <p>Задайте число итераций</p>
    <input id="numberOfIterations" required type="number" th:field="*{numberOfIterations}"/>
    <p>После открытия двери меняем решение</p>
    <p>Да
        <input id="changeOfChoice" type="checkbox" th:field="*{changeOfChoice}"/>
    </p>
    <input type="submit" value="Рассчитать">
</form>

</body>
</html>